@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  background-color: white;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #94BDF1;
  border-radius: 15px;
}